            <tr>
              <td style="padding: 0; text-align: center; background-color: #ffffff; font-size: 0; line-height: 0">
                {% if hero_image_url %}
                <img
                  src="{{ hero_image_url }}"
                  alt="Welcome to {{ app_name }}"
                  width="600"
                  style="
                    display: block;
                    margin: 0;
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    border: 0;
                  "
                />
                {% endif %}
              </td>
            </tr>
